@charset "utf-8";
/* CSS Document */

#f1 {
	color: #FFF;
	font-family: "Times New Roman", "cursive";
	font-size:25px;
	text-align:center;
	margin-top:25px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	text-decoration: none;
}
#f1 a {
	color: #FFF;
	text-decoration: none;
}
#f1 a:hover {
	color: #15555a;
	text-decoration: underline;
}
#f1 a link {
	color: #FFF;
	text-decoration: none;
}
#f1 a:active {
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
#copy {
	font-family:"Comic Sans MS", "cursive";
	font-size: 15px;
	color: #FFF;
	text-align: center;
	margin: 20px;
	text-decoration: none;
}
#copy a {
	color: #FFF;
}
#copy a:link {
	color: #FFF;
	text-decoration: none;
}
#copy a:active {
	color: #FFF;
	text-decoration: none;
	font-size:10px;
}
#copy a:hover {
	color: #15555a;
	text-decoration: underline;
}
